/* TODO: Move border color variable to global styles */
td.letter {
  --border-color: rgba(0, 0, 0, .24);
  --text-size: 1.1rem;
  font-size: var(--text-size);
  height: calc(var(--text-size) * 2);
  width: calc(var(--text-size) * 2);
  border: 1px solid var(--border-color);
  text-align: center;
  cursor: pointer;
}

td.letter:hover,
td.letter:focus {
  background-color: #fee583;
}

td.letter.active {
  background-color: #fed330;
}

td.letter.cw,
td.letter.cw:hover,
td.letter.cw:focus,
td.letter.cw.active {
  background-color: #000;
  color: #000
}
